{
    "extends" : ["airbnb", "prettier", "prettier/react"],
    "plugins": ["prettier"],
    "parser": "babel-eslint",
    "rules": {
    "react/state-in-constructor": ["true", "never"],
    //"prettier/prettier":"error",
    "prettier/prettier":0,
    "quotes": ["error", "single"],
    "max-len": ["error", { "code": 100 }],    
    "react/jsx-filename-extension": [1, {
    "extensions": [".js"]
    }],
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4]
    },
    "globals": {
    "window": true,
    "document": true
    }
}
   